<?xml version="1.0" encoding="UTF-8"?> 
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0" 
    id="dff-cordova-plugin-common"
    version="0.0.1">

    <name>Common</name>
    <description>Common Plugin</description>
    <author>dff solutions</author>
    <keywords>phonegap,cordova,common,dff</keywords>
    
     <js-module src="www/common.js" name="common">
        <clobbers target="CommonPlugin" />
    </js-module>
 
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="CommonPlugin">
                <param name="android-package" value="com.dff.cordova.plugin.common.CommonPlugin"/>
                <param name="onload" value="true" />
            </feature>
        </config-file>
    
		<source-file src="src/android/com/dff/cordova/plugin/common/action/CordovaAction.java" target-dir="src/com/dff/cordova/plugin/common/action" />
		<source-file src="src/android/com/dff/cordova/plugin/common/log/AbstractLogListener.java" target-dir="src/com/dff/cordova/plugin/common/log" />
		<source-file src="src/android/com/dff/cordova/plugin/common/log/LogListenerInterface.java" target-dir="src/com/dff/cordova/plugin/common/log" />
		<source-file src="src/android/com/dff/cordova/plugin/common/log/LogListener.java" target-dir="src/com/dff/cordova/plugin/common/log" />
		<source-file src="src/android/com/dff/cordova/plugin/common/log/CordovaPluginLog.java" target-dir="src/com/dff/cordova/plugin/common/log" />
		<source-file src="src/android/com/dff/cordova/plugin/common/service/AndroidServiceConnectionListener.java" target-dir="src/com/dff/cordova/plugin/common/service" />
		<source-file src="src/android/com/dff/cordova/plugin/common/AbstractPluginListener.java" target-dir="src/com/dff/cordova/plugin/common" />
		<source-file src="src/android/com/dff/cordova/plugin/common/CommonPlugin.java" target-dir="src/com/dff/cordova/plugin/common" />
     </platform>
</plugin>
